{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/products/products.css' %}" />
{% endblock %}


{% block content %}
{% include 'components/header.html' %}
<section class="products">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image.url }}" alt="Product Image" class="product-image">
        <div class="product-details">
            <div class="product-title">{{ product.title }}</div>
            <div class="product-price">₹{{ product.price }}</div>
            <a href="{% url 'cart:cart_add' product.id %}"><button class="buy-button">Add to Cart</button></a>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}
